<a id="{{ name }}"></a>
<h4 class="section-header">Badges</h4>

<p>Badges are a great way to give extra information to your users in a concise and efficient manner. In Basecoat badges align coherently with surrounding content and can have a <code>circular</code> class for rounded borders. Badges with class <code>tag</code> will get a pointed left edge like a real life tag and will degrade gracefully on older browsers to look like a squared paper tag.</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Badges</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <span class="badge">Default</span>
            <span class="primary badge">3</span>
            <span class="warning badge">1,954</span>
            <span class="dangerous badge">New!</span>
            <span class="secondary badge"><i class="fa fa-camera"></i> with icon <a href="#"><i class="fa fa-times"></i></a></span>
            <span class="rewarding badge"><i class="fa fa-camera"></i></span>
            <span class="warning circular badge">Sale!</span>
            <span class="engaging tag badge">javascript <a href="#"><i class="fa fa-times"></i></a></span>
            <p>Inline with text <span class="primary circular badge">Deprecated</span></p>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>