<a id="{{ name }}"></a>
<h4 class="section-header">Colors</h4>

<p>Basecoat provides five versatile colors, named according to the psycological association of each color tone. The color palette for your design will most surely be custom so we encourage you to create a custom color coat that matches your needs. Color clases affect the primary property of the element but you can also use the <em>-background</em> suffix to switch the foreground/background.</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Color names</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <a href="##">Default</a>
            <a href="##" class="primary">primary</a>
            <a href="##" class="secondary">secondary</a>
            <a href="##" class="rewarding">rewarding</a>
            <a href="##" class="dangerous">dangerous</a>
            <a href="##" class="engaging">engaging</a>
            <a href="##" class="warning">warning</a>
            <br>
            <a href="##" class="secondary button">secondary</a>
            <select class="rewarding">
                <option>rewarding</option>
                <option>color</option>
            </select>
            <div class="dangerous message">dangerous message</div>
            <span class="tooltip">
                Engaging colored tooltip
                <div class="engaging message">
                    Hello you :)
                </div>
            </span>
            <div class="warning-background">warning background</div>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>