<a id="{{ name }}"></a>
<h4 class="section-header">Definitions</h4>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Definition</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            Definition
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>