<a id="{{ name }}"></a>
<h4 class="section-header">Dividers</h4>

<p>Showing the user that content is loading is a must for a rich user experience. Basecoat provides a simple loading bubble that can be used inline with text or as a prominent loading message. The loader bubble is also proportional to the current font size so it will be perfectly aligned with your content. You can also change the color of the loading bubble by setting its background color.</p>

<div class="{{ name }}-demo panel">
	<div class="panel-title">
		<h6>Horizontal Dividers</h6>
	</div>
	<div class="tablet-two columns panel-content">
		<div class="example">
			<div class="divider">Divide and Conquer!</div>
		</div>
		<div class="source">
			<pre><code class="language-markup">

			</code></pre>
		</div>
	</div>
</div>