<a id="{{ name }}"></a>
<h4 class="section-header">Extend &amp; Customize</h4>

<p>Basecoat's default styles are beautifully minimalistic and just work out of the box. But lets face it, we all want to put our personal style into our work. We are all artists. This is why basecoat has focused on being as minimal, yet as complete as possible. Keeping a low specificity index so that overriding styles does not become a nightmare, that means concise selectors and no !importants! ... !!</p>

<p>You can do this via two methods:</p>

<h5>
	Coats
	<small>Known in the dark world as plugins</small>
</h5>

<p>Coats are pre-made files designed specifically to alter all the default styles coherently and for one purpose only. Think of coats as css plugins. Try some coats below. Mix them and see how this site will change on the fly.</p>

<div class="layout-object">
	<input type="checkbox" class="switch" id="coat-rounded" name="coats[]" value="basecoat-rounded" />
	<div>
		<label for="coat-rounded">Rounded coat</label><br>
		This coat makes all elements in basecoat have rounded borders.
	</div>
</div>

<div class="layout-object">
	<input type="checkbox" class="switch" id="coat-pressable" name="coats[]" value="basecoat-pressable" />
	<div>
		<label for="coat-pressable">Pressable coat</label><br>
		This coat makes all elements in basecoat have a three dimensional appearance. Form elements will have shadows and will change depth when pressed.
	</div>
</div>

<div class="layout-object">
	<input type="checkbox" class="switch" id="coat-funky" name="coats[]" value="basecoat-funky" />
	<div>
		<label for="coat-funky">Funky coat</label><br>
		This coat changes the color palette to a funky color style.
	</div>
</div>


<h5>
	Plain ol' CSS
	<small>It's my-personal-style.css yo!</small>
</h5>

<p>Just write your own additional css to extend basecoat and meet the specific needs of your project. Simple.</p>