<a id="{{ name }}"></a>
<h4 class="section-header">Helpers</h4>

<p>Because we all need a little help once in a while :)</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Helpers</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <p class="right-aligned">To make this paragraph right aligned just set it's class to "right-aligned". This is just some extra text to test the multiline behavior.</p>
            <p class="left-aligned">To make this paragraph left aligned just set it's class to "left-aligned". This is just some extra text to test the multiline behavior.</p>
            <p class="justified">To make this paragraph justified just set it's class to "justified". This is just some extra text to test the multiline behavior.</p>
            <p class="centered">To make this paragraph centered just set it's class to "centered". This is just some extra text to test the multiline behavior.</p>

            <p class="italic">This paragraph has the class 'italic'.</p>
            <p class="bold">This paragraph has the class 'bold'.</p>
            <p class="strikethrough">This paragraph has the class 'strikethrough'.</p>
            <p class="underlined">This paragraph has the class 'underlined'.</p>
        </div>
        <div class="source">
            <pre><code class="language-markup">
&lt;p class="right-aligned"&gt;To make this paragraph right aligned just set it's class to "right-aligned". This is just some extra text to test the multiline behavior.&lt;/p&gt;
&lt;p class="left-aligned"&gt;To make this paragraph left aligned just set it's class to "left-aligned". This is just some extra text to test the multiline behavior.&lt;/p&gt;
&lt;p class="justified"&gt;To make this paragraph justified just set it's class to "justified". This is just some extra text to test the multiline behavior.&lt;/p&gt;
&lt;p class="centered"&gt;To make this paragraph centered just set it's class to "centered". This is just some extra text to test the multiline behavior.&lt;/p&gt;

&lt;p class="italic"&gt;This paragraph has the class 'italic'.&lt;/p&gt;
&lt;p class="bold"&gt;This paragraph has the class 'bold'.&lt;/p&gt;
&lt;p class="strikethrough"&gt;This paragraph has the class 'strikethrough'.&lt;/p&gt;
&lt;p class="underlined"&gt;This paragraph has the class 'underlined'.&lt;/p&gt;
            </code></pre>
        </div>
    </div>
</div>