<a id="{{ name }}"></a>
<h4 class="section-header">Icons</h4>

<p>Basecoat's aim is to serve as a robust and graphically coherent starting point for your app or website. It can be used by itself for a minimalistic look but you are encouraged to extend the base styles and create your own coats. When it comes to icons we understand there are trillions of icons out there, each with their own particular icon set and style. This is why we do not include an icon set with Basecoat. If we did, you would most likely have to include another iconset to meet your specific needs.</p>

<p>There are several very high quality icon sets available, some of which we have tried and work wonderfully with Basecoat are:</p>

<ul>
    <li><a href="http://fortawesome.github.io/Font-Awesome/">FontAwesome</a></li>
    <li><a href="http://fontello.com/">Fontello</a></li>
    <li><a href="http://typicons.com/">Typicons</a></li>
</ul>