<a id="{{ name }}"></a>
<h4 class="section-header">Inline Elements</h4>
<p>Inline elements are all tested to maintain the vertical rythm, even new html5 input controls.</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Inline Elements</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <p>This is a paragraph to demonstrate all the inline elements with styles. For example this is <a href="#">a link</a>. An this is <strong>strong text</strong> which should look the same as <b>bold text</b>. You can also <em>emphasize text</em> or make it <i>italic</i>. If you deleted content you can show it as <strike>strikethrough text</strike>.</p>

            <p>Text can also have abbreviations like <abbr title="Federal Bureau of Investigation">FBI</abbr> or acronyms like <acronym title="as soon as possible">ASAP</acronym>. You can even show <sub>Sub</sub> text and <sup>Sup</sup> Text.</p>
        </div>
        <div class="source">
            <pre><code class="language-markup">
&lt;p&gt;This is a paragraph to demonstrate all the inline elements with styles. For example this is &lt;a href="#"&gt;a link&lt;/a&gt;. An this is &lt;strong&gt;strong text&lt;/strong&gt; which should look the same as &lt;b&gt;bold text&lt;/b&gt;. You can also &lt;em&gt;emphasize text&lt;/em&gt; or make it &lt;i&gt;italic&lt;/i&gt;. If you deleted content you can show it as &lt;strike&gt;strikethrough text&lt;/strike&gt;.&lt;/p&gt;

&lt;p&gt;Text can also have abbreviations like &lt;abbr title="Federal Bureau of Investigation"&gt;FBI&lt;/abbr&gt; or acronyms like &lt;acronym title="as soon as possible"&gt;ASAP&lt;/acronym&gt;. You can even show &lt;sub&gt;Sub&lt;/sub&gt; text and &lt;sup&gt;Sup&lt;/sup&gt; Text.&lt;/p&gt;
            </code></pre>
        </div>
    </div>
</div>