<h4 class="section-header">
	<a id="{{ name }}"></a>
	Install
</h4>

<ul>
	<li>
		Using bower
		<pre>bower install --save basecoat-css</pre>
	</li>
	<li>
		Cloning github repo
		<pre>git clone https://github.com/juancamiloestela/BasecoatCSS</pre>
	</li>
	<li>
		Or download as a <a href="https://github.com/juancamiloestela/BasecoatCSS/archive/master.zip">zip file</a>.
	</li>
</ul>