<a id="{{ name }}"></a>
<h4 class="section-header">Layout Object</h4>
<p>The famous media object which lays out content in a very standard and reusable way.</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Layout Object</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <div class="layout-object">
                <img src="Layout Object" width="80" height="80">
                <div>This content could be anything, from simple text to more complex controls scoped to the element on the left.</div>
            </div>

            <div class="layout-object right">
                <img src="Layout Object" width="80" height="80">
                <div>The same media object but with the primary element to the right.</div>
            </div>

            <div class="layout-object">
                <img src="Layout Object" width="80" height="80">
                <div>
                    And nested media objects
                    <div class="layout-object">
                        <img src="Sub Object" width="80" height="80">
                        <div>Feels like inception</div>
                    </div>
                </div>
            </div>
            <em>* Element backgrounds colored for demonstration purposes</em>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>