<a id="{{ name }}"></a>
<h4 class="section-header">Loaders</h4>

<p>Showing the user that content is loading is a must for a rich user experience. Basecoat provides a simple loading bubble that can be used inline with text or as a prominent loading message. The loader bubble is also proportional to the current font size so it will be perfectly aligned with your content. You can also change the color of the loading bubble by setting its background color.</p>

<div class="{{ name }}-demo panel">
	<div class="panel-title">
		<h6>Loaders</h6>
	</div>
	<div class="tablet-two columns panel-content">
		<div class="example">
			<p><span class="loading bubble"></span> Inline loading bubble</p>
			
			<div class="centered">
				<div class="loading bubble" style="font-size:3em;"></div><br>
				Your fancy please wait message
			</div>
		</div>
		<div class="source">
			<pre><code class="language-markup">

			</code></pre>
		</div>
	</div>
</div>