<a id="{{ name }}"></a>
<h4 class="section-header">Messages</h4>

<p>Messages are generic boxes used to prioritize and enhance content on your page. They can be used to alert the user of an event, to notify or warn about a specific action and can be dismissed when set to be dismissiable.</p>

<div class="{{ name }}-demo panel">
	<div class="panel-title">
		<h6>Basic Message</h6>
	</div>
	<div class="tablet-two columns panel-content">
		<div class="example">
			<div class="message">
				<strong>A default message!</strong> <br> Your message goes here. It can be a super loooong message that spans several lines. This is how it looks with a <a href="#">link</a>.
			</div>
		</div>
		<div class="source">
			<pre><code class="language-markup">

			</code></pre>
		</div>
	</div>
</div>

<div class="{{ name }}-demo panel">
	<div class="panel-title">
		<h6>Colored Message</h6>
	</div>
	<div class="tablet-two columns panel-content">
		<div class="example">
			<div class="dangerous message">
				<strong>A error message!</strong> <br> Your message goes here. Run everybody run!
			</div>
		</div>
		<div class="source">
			<pre><code class="language-markup">

			</code></pre>
		</div>
	</div>
</div>

<p>To make an element dismissable just give it a class name <code>dismissable</code>, for more information on how to use the dismissable plugin check the <a href="components.html#dismissablejs">JavaScript</a> page.</p>

<div class="{{ name }}-demo panel">
	<div class="panel-title">
		<h6>Dismissable Message</h6>
	</div>
	<div class="tablet-two columns panel-content">
		<div class="example">
			<div class="dismissable secondary message">
				<a href="#" class="close dismiss">&#xD7;</a>
				<strong>A dismissable message!</strong> <br> You can send me away :(
			</div>
		</div>
		<div class="source">
			<pre><code class="language-markup">

			</code></pre>
		</div>
	</div>
</div>