<a id="{{ name }}"></a>
<h4 class="section-header">Panels</h4>
<p>Panels are defined sections used to contain specific content. Below you can see an example of a panel. On this site, panels are used to present every example/code pair in the framework.</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Basic Panel</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <div class="panel">
                This is the panel's content
            </div>
        </div>
        <div class="source">
            <pre><code class="language-markup">
&lt;div class="panel"&gt;
This is the panel's content
&lt;/div&gt;
            </code></pre>
        </div>
    </div>
</div>

<p>You can place the <code>panel-title</code> either at the top, bottom or both. The content inside the panel or panel title is completely up to you. It can be simple text up to a complex nested grid</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Alternate Panel</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <div class="panel">
                <div class="panel-title">
                    <h6>The Panel Top Title</h6>
                </div>
                <div class="panel-content">
                    This is the panel's content
                </div>
                <div class="panel-title">
                    <h6>The Panel Bottom Title</h6>
                </div>
            </div>
        </div>
        <div class="source">
            <pre><code class="language-markup">
&lt;div class="panel"&gt;
&lt;div class="panel-title"&gt;
&lt;h6&gt;The Panel Top Title&lt;/h6&gt;
&lt;/div&gt;
&lt;div class="panel-content"&gt;
This is the panel's content
&lt;/div&gt;
&lt;div class="panel-title"&gt;
&lt;h6&gt;The Panel Bottom Title&lt;/h6&gt;
&lt;/div&gt;
&lt;/div&gt;
            </code></pre>
        </div>
    </div>
</div>