<a id="{{ name }}"></a>
<h4 class="section-header">Responsive Helpers</h4>
<p>To control content presence on breakpoints you can use responsive helper clases. These will allow you to show or hide elements according to the current device, or to the responsive sequence defined.</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Responsive Helpers</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <div class="mobile-only">Current: Mobile</div>
            <div class="tablet-only">Current: Tablet</div>
            <div class="desktop-only">Current: Desktop</div>

            <div class="mobile-show">This will appear on mobile</div>
            <div class="tablet-show">This will appear on tablet</div>
            <div class="desktop-show">This will appear on desktop</div>

            <div class="mobile-hide">This will dissapear on mobile</div>
            <div class="tablet-hide">This will dissapear on tablet</div>
            <div class="desktop-hide">This will dissapear on desktop</div>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>