<a id="{{ name }}"></a>
<h4 class="section-header">Tables</h4>
<p>Tables are designed to present tabular data in a pleasant way for the user.</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Basic Table</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First</th>
                        <th>Last</th>
                        <th>User</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Leo</td>
                        <td>Da Vinci</td>
                        <td>leo</td>
                        <td><a href="#">Action</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Claude</td>
                        <td>Monet</td>
                        <td>monet</td>
                        <td><a href="#">Action</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Paul</td>
                        <td>Cezanne</td>
                        <td>cezanne</td>
                        <td><a href="#">Action</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>


<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Table with Horizontal Borders</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <table class="horizontal borders">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First</th>
                        <th>Last</th>
                        <th>User</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Leo</td>
                        <td>Da Vinci</td>
                        <td>leo</td>
                        <td><a href="#">Action</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Claude</td>
                        <td>Monet</td>
                        <td>monet</td>
                        <td><a href="#">Action</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Paul</td>
                        <td>Cezanne</td>
                        <td>cezanne</td>
                        <td><a href="#">Action</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>


<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Table with Vertical Borders</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <table class="vertical borders">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First</th>
                        <th>Last</th>
                        <th>User</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Leo</td>
                        <td>Da Vinci</td>
                        <td>leo</td>
                        <td><a href="#">Action</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Claude</td>
                        <td>Monet</td>
                        <td>monet</td>
                        <td><a href="#">Action</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Paul</td>
                        <td>Cezanne</td>
                        <td>cezanne</td>
                        <td><a href="#">Action</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>