<a id="{{ name }}"></a>
<h4 class="section-header">Usage</h4>

<ol>
	<li>
		Include the basecoat css file on the <code>&lt;head&gt;</code> of your page
		<pre><code class="language-markup">
		...
		&lt;link rel="stylesheet" href="path/to/basecoat.min.css"&gt;
		&lt;link rel="stylesheet" href="css/styles.css"&gt;
	&lt;/head&gt;
		</code></pre>
	</li>
	<li>
		Include the basecoat js file after jQuery and before your custom site scripts
		<pre><code class="language-markup">
		...
		&lt;script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"&gt;&lt;/script&gt;
		&lt;script src="path/to/basecoat-css.min.js"&gt;&lt;/script&gt;
		&lt;script src="js/script.js"&gt;&lt;/script&gt;
	&lt;/body&gt;
		</code></pre>
	</li>
	<li>
		Pat yourself on the back for a job well done!
	</li>
</ol>

<p>Right now you can start coding your page. All js code is auto-initializable so you don't have to do a thing. Your site will be using the default styles provided by Basecoat which will provide a minimalistic style and beautiful typographical balance. But Basecoat is just, the base coat, on top of which you are encouraged to make your art either by hand or using coats made by others.</p>