<h4 class="section-header">
	<a id="{{ name }}"></a>
	What is Basecoat
	<small>0 - 10 secs</small>
</h4>

<p>Basecoat is a minimalist front end framework</p>

<p>Lorem ipsum</p>

<h4 class="section-header">
	What Basecoat is not
	<small>10 to 25 secs</small>
</h4>

<p>Lorem ipsum</p>