---
title: Grids test
---
<h1>Grids Test</h1>
<div class="test-container">

	<label>Helpers</label>
	<div class="mobile-only">Current: Mobile</div>
	<div class="tablet-only">Current: Tablet</div>
	<div class="desktop-only">Current: Desktop</div>

	<div class="mobile-show">Visible on mobile. </div>
	<div class="tablet-show">Visible on tablet. </div>
	<div class="desktop-show">Visible on desktop. </div>

	<div class="mobile-hide">Hidden on mobile. </div>
	<div class="tablet-hide">Hidden on tablet. </div>
	<div class="desktop-hide">Hidden on desktop. </div>

	<label>A basic grid row</label>
	<div class="three columns">
		<div>1</div>
		<div>2</div>
		<div>3</div>
	</div>

	<label>Mobile-six columns</label>
	<div class="six columns">
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
	</div>

	<label>Table-six columns</label>
	<div class="tablet-six columns">
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
	</div>

	<label>Desktop-six columns</label>
	<div class="desktop-six columns">
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
	</div>

	<label>Mobile two - Tablet Three - Desktop-six columns</label>
	<div class="two tablet-three desktop-six columns">
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
	</div>

	<label>Widths</label>
	<div class="sixteen columns">
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
		<div>7</div>
		<div>8</div>
		<div>9</div>
		<div>10</div>
		<div>11</div>
		<div>12</div>
		<div>13</div>
		<div>14</div>
		<div>15</div>
		<div>16</div>

		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
		<div>7</div>
		<div>8</div>
		<div>9</div>
		<div>10</div>
		<div>11</div>
		<div>12</div>
		<div>13</div>
		<div>14</div>
		<div class="two wide">15</div>

		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
		<div>7</div>
		<div>8</div>
		<div>9</div>
		<div>10</div>
		<div>11</div>
		<div>12</div>
		<div>13</div>
		<div class="three wide">14</div>

		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
		<div>7</div>
		<div>8</div>
		<div>9</div>
		<div>10</div>
		<div>11</div>
		<div>12</div>
		<div class="four wide">13</div>

		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
		<div>7</div>
		<div>8</div>
		<div>9</div>
		<div>10</div>
		<div>11</div>
		<div class="five wide">12</div>

		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
		<div>7</div>
		<div>8</div>
		<div>9</div>
		<div>10</div>
		<div class="six wide">11</div>

		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
		<div>7</div>
		<div>8</div>
		<div>9</div>
		<div class="seven wide">10</div>

		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
		<div>7</div>
		<div>8</div>
		<div class="eight wide">9</div>

		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
		<div>7</div>
		<div class="nine wide">8</div>

		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div>6</div>
		<div class="ten wide">7</div>

		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>5</div>
		<div class="eleven wide">6</div>

		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div class="twelve wide">5</div>

		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div class="thirteen wide">4</div>

		<div>1</div>
		<div>2</div>
		<div class="fourteen wide">3</div>

		<div>1</div>
		<div class="fifteen wide">2</div>

		<div class="sixteen wide">1</div>



		<div class="fourteen wide">1</div>
		<div class="two wide">2</div>

		<div class="thirteen wide">1</div>
		<div class="three wide">2</div>

		<div class="twelve wide">1</div>
		<div class="four wide">2</div>

		<div class="eleven wide">1</div>
		<div class="five wide">2</div>

		<div class="ten wide">1</div>
		<div class="six wide">2</div>

		<div class="nine wide">1</div>
		<div class="seven wide">2</div>

		<div class="eight wide">1</div>
		<div class="eight wide">2</div>

		<div class="seven wide">1</div>
		<div class="nine wide">2</div>

		<div class="six wide">1</div>
		<div class="ten wide">2</div>

		<div class="five wide">1</div>
		<div class="eleven wide">2</div>

		<div class="four wide">1</div>
		<div class="twelve wide">2</div>

		<div class="three wide">1</div>
		<div class="thirteen wide">2</div>

		<div class="two wide">1</div>
		<div class="fourteen wide">2</div>

		<div class="four wide">1</div>
		<div class="four wide">2</div>
		<div class="four wide">3</div>
		<div class="four wide">4</div>
	</div>










	Multiple rows per row !TODO: wrong paddings should be via nth-child?
	<div class="three desktop-two tablet-four columns">
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div class="desktop-two wide">5</div>
		<div class="desktop-two tablet-three wide">6</div>
	</div>

	On mobile [123]
	On tablet [123]
	On desktop [122]
	<div class="three columns">
		<div>1</div>
		<div class="desktop-two wide">2</div>
		<div class="desktop-hide">3</div>
	</div>

</div>