---
title: Hi there!
---

<div class="index layout-primary">
    <div class="layout-content-fluid">
        <div>
            <h1 class="section-title">
                <img src="img/basecoat.svg" alt="Basecoat" class="logo">
                <small>Responsive base css styles for artists</small>
            </h1>

            Responsive
            Minimal
            Lightweight
            Easily customizable
            Solid structure with typography as its foundation
        </div>
        <div>

                <p>Layout elements in Basecoat aim to be as simple as possible. Their only purpose is to position content as desired en all screens and resolutions while keeping a coherent visual style that protects typographical balance.</p>

        </div>
    </div>
</div>