---
title: Hi there!
bodyClass: index
---

<div class="layout-primary">
    <div class="layout-content-fluid">
        <div class="hero">
            <h1 class="section-title">
                <!--img src="img/basecoat.svg" alt="Basecoat" class="logo"-->
                BasecoatCSS
                <small>Responsive base css styles for artists</small>
            </h1>
        </div>
        <div>

            Mobile First &amp; Responsive
            You get 3 breakpoints defined in <code>ems</code> to focus on content readability, not screen sizes.

            Minimal &amp; Readable
            The visual style proposed by Basecoat is minimalistic and neutral, focused around typography, usability and readability.

            Lightweight
            Basecoat's goal is to provide the least amount of code, with the most complete set of styles possible for a responsive site. Even if the provided visual style is beautifully minimalistic, you are not forced to use the framework's default style. You are encouraged to extend it in an easy manner.

            Easily customizable
            All styles are made with extensibility in mind. This means that all css selectors are as least specific as possible so that you can override them easily. All plugins are structured to enhance native browser controls, not replace them so js will degrade gracefully and user experience remains stable across devices.

            Solid structure with typography as its foundation
            Basecoat uses <code>ems</code> everywhere possible. This makes typography the foundation of your styles keeping elements coherently aligned around your chosen typeface. Even when resizing elements. If you change the font-size on any container, all elements inside it will be resized accordingly.

        </div>
    </div>
</div>