.classic-font {
  font-family: 'Georgia', serif;
}
.classic-font h1,
.classic-font h2,
.classic-font h3,
.classic-font h4,
.classic-font h5,
.classic-font h6,
.classic-font .button,
.classic-font button,
.classic-font a,
.classic-font input,
.classic-font textarea,
.classic-font label,
.classic-font .selectjs,
.classic-font .badge {
  font-family: 'Montserrat', sans-serif;
}
.classic-font label .help {
  font-family: 'Georgia', serif;
}
.museo-font {
  font-family: 'Crimson Text', serif;
}
.museo-font h1,
.museo-font h2,
.museo-font h3,
.museo-font h4,
.museo-font h5,
.museo-font h6,
.museo-font .button,
.museo-font button,
.museo-font a,
.museo-font input,
.museo-font textarea,
.museo-font label,
.museo-font .selectjs,
.museo-font .badge,
.museo-font th {
  font-family: 'Museo', sans-serif;
}
.museo-font label .help {
  font-family: 'Crimson Text', serif;
}
.minimal-font {
  font-family: 'Open Sans', serif;
  font-weight: lighter;
}
.minimal-font h1,
.minimal-font h2,
.minimal-font h3,
.minimal-font h4,
.minimal-font h5,
.minimal-font h6,
.minimal-font .button,
.minimal-font button,
.minimal-font a,
.minimal-font input,
.minimal-font textarea,
.minimal-font label,
.minimal-font .selectjs,
.minimal-font .badge,
.minimal-font th {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
.minimal-font .input.field label {
  font-weight: normal;
}
.minimal-font .input.field label .help {
  font-weight: lighter;
}
.basecoat-font {
  font-family: 'Open Sans', serif;
  font-weight: lighter;
  /* Font correction styles */
}
.basecoat-font h1,
.basecoat-font h2,
.basecoat-font h3,
.basecoat-font h4,
.basecoat-font h5,
.basecoat-font h6,
.basecoat-font .button,
.basecoat-font button,
.basecoat-font th {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.basecoat-font a,
.basecoat-font input,
.basecoat-font textarea,
.basecoat-font label,
.basecoat-font .selectjs,
.basecoat-font .badge {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.basecoat-font .input.field label {
  font-weight: normal;
}
.basecoat-font .input.field label .help {
  font-weight: lighter;
}
.basecoat-font a {
  line-height: 1em;
}
.basecoat-font a.button {
  line-height: 2.25em;
}
.ubuntu-font {
  font-family: sans-serif;
  /* Font Height Corrections */
}
.ubuntu-font h1,
.ubuntu-font h2,
.ubuntu-font h3,
.ubuntu-font h4,
.ubuntu-font h5,
.ubuntu-font h6 {
  font-family: 'Ubuntu', sans-serif;
}
.ubuntu-font .button,
.ubuntu-font button,
.ubuntu-font a,
.ubuntu-font input,
.ubuntu-font textarea,
.ubuntu-font label,
.ubuntu-font .selectjs,
.ubuntu-font .badge,
.ubuntu-font th {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}
.ubuntu-font a {
  line-height: 1.5em;
}
.ubuntu-font a.button {
  line-height: 2.25em;
}
.lobster-font {
  font-family: 'Cabin', serif;
}
.lobster-font h1,
.lobster-font h2,
.lobster-font h3,
.lobster-font h4,
.lobster-font h5,
.lobster-font h6 {
  font-family: 'Lobster', sans-serif;
}