/* Preformatted */
pre.rounded,
.rounded pre,
code.rounded,
.rounded code,
input[type="text"].rounded,
input[type="password"].rounded,
textarea.rounded,
.rounded input[type="text"],
.rounded input[type="password"],
.rounded textarea,
.rounded.button,
.rounded .button,
button.rounded,
.rounded button,
.rounded.selectjs,
.rounded .selectjs,
.rounded.message,
.rounded .message,
.rounded.progress,
.rounded .progress,
.rounded.progress div,
.rounded .progress div {
  border-radius: 0.4em;
}
.rounded.horizontal.stack > *,
.rounded .horizontal.stack > * {
  border-radius: 0;
}
.rounded.horizontal.stack > *:first-child,
.rounded.horizontal.stack > *:first-child,
.rounded .horizontal.stack > *:first-child,
.rounded .horizontal.stack > *:first-child {
  border-radius: .4em 0 0 .4em;
}
.rounded.horizontal.stack > *:last-child,
.rounded.horizontal.stack > *:last-child,
.rounded .horizontal.stack > *:last-child,
.rounded .horizontal.stack > *:last-child {
  border-radius: 0 .4em .4em 0;
}
.rounded.vertical.stack > *,
.rounded .vertical.stack > * {
  border-radius: 0;
}
.rounded.vertical.stack > *:first-child,
.rounded.vertical.stack > *:first-child,
.rounded .vertical.stack > *:first-child,
.rounded .vertical.stack > *:first-child {
  border-radius: .4em .4em 0 0;
}
.rounded.vertical.stack > *:last-child,
.rounded.vertical.stack > *:last-child,
.rounded .vertical.stack > *:last-child,
.rounded .vertical.stack > *:last-child {
  border-radius: 0 0 .4em .4em;
}
/* Badges */
.rounded.badge,
.rounded .badge {
  border-radius: 0.25em;
}
.rounded .circular.badge,
.rounded.circular.badge {
  border-radius: 1em;
}
.rounded .checkboxjs {
  border-radius: 0.2em;
}
.rounded .checkboxjs.switch {
  border-radius: 1em;
}
.rounded .checkboxjs.switch .indicator {
  border-radius: 1em;
}